@for (articulo of this.bd.getArticulosCarrito(); track articulo.id) {
<div class="row row-cols-md-5">
    <div>
        <img class="img-thumbnail float-start" src="{{articulo.imagen}}">
        <!-- NOMBRE -->
        {{articulo.nombre}}
    </div>
    <div>{{articulo.precio}}PRECIO</div>
    <div>
		<!-- BOTÓN PARA DECREMENTAR UNIDADES SI HAY MÁS DE 1
		INPUT NO EDITABLE PARA MOSTRAR UNIDADES
		BOTÓN PARA INCREMENTAR UNIDADES -->
        @if (articulo.cantidad > 1) {
            <button (click)="articulo.cantidad = articulo.cantidad-1">-</button>
        }
        <input type="text" value="{{articulo.cantidad}}" readonly>
        <button (click)="articulo.cantidad = articulo.cantidad + 1">+</button>
    </div>
    <div>{{articulo.subtotal}} €</div>
    <div>
        <button>ELIMINAR</button>
		<!-- BOTÓN PARA ELIMINAR ESE ARTÍCULO DEL CARRITO -->
    </div>
</div>
}

<style>
    img.img-thumbnail {
        width:100px;
    }
    
    input.form-control {
        display: inline;
        margin: 2px;
        width: 20%;
    }

</style>
