@for (articulo of this.bd.getArticulosCarrito(); track articulo.id) {
<div class="row row-cols-md-5">
    <div>
        <img class="img-thumbnail float-start" src="{{articulo.imagen}}">
        <!-- NOMBRE -->
        {{articulo.nombre}}
    </div>
    <div>{{articulo.precio}}PRECIO</div>
    <div>
		<!-- BOTÓN PARA DECREMENTAR UNIDADES SI HAY MÁS DE 1
		INPUT NO EDITABLE PARA MOSTRAR UNIDADES
		BOTÓN PARA INCREMENTAR UNIDADES -->
        <input type="text" value="{{articulo.cantidad}}" readonly>
    </div>
    <div>SUBTOTAL DE ESE ARTÍCULO</div>
    <div>
		BOTÓN PARA ELIMINAR ESE ARTÍCULO DEL CARRITO
    </div>
</div>
}

<style>
    img.img-thumbnail {
        width:100px;
    }
    
    input.form-control {
        display: inline;
        margin: 2px;
        width: 20%;
    }
</style>
