<div class="row row-cols-md-5">
    <div>
        <img class="img-thumbnail float-start" src="{{articulo.imagen}}">
        <!-- NOMBRE -->
        {{articulo.nombre}}
    </div>
    <!-- PRECIO -->
    <div>Precio: {{articulo.precio}} € </div>
    <div>
		<!-- BOTÓN PARA DECREMENTAR UNIDADES SI HAY MÁS DE 1
		INPUT NO EDITABLE PARA MOSTRAR UNIDADES
		BOTÓN PARA INCREMENTAR UNIDADES -->
        @if (articulo.cantidad > 1) {
            <button (click)="this.removeCantidad(articulo)">-</button>
        }
        <input type="text" value="{{articulo.cantidad}}" readonly>
        <button (click)="this.addCantidad(articulo)">+</button>
    </div>
    <div>Subtotal: {{getSubtotal(articulo)}} €</div>
    <div>
		<!-- BOTÓN PARA ELIMINAR ESE ARTÍCULO DEL CARRITO -->
        <button (click)="removeArticulo(articulo)">ELIMINAR</button>
    </div>
</div>

<style>
    img.img-thumbnail {
        width:100px;
    }
    
    input.form-control {
        display: inline;
        margin: 2px;
        width: 20%;
    }

</style>
